.container 
    .row
        .form-inputs
            =simple_form_for @trademark do |f|                
                %p 
                =f.input :name, label: "Ad", class: "form-input", required: true
                .custom-file
                =f.input :image, label: "Logo", required: true
                %p 
                =f.input :description, size:"50x10", label: "Açıklama", required: true
                %p 
                =f.input :origin, collection: [ "Türkiye", "ABD", "Çin", "Japonya", "İngiltere", "Almanya", "Fransa", "Hollanda"], :prompt => "Seçiniz", label: "Menşei", required: true
                %p 
                =f.input :web, :placeholder => "URL Adresi", required: true
                %p 
                =f.button :submit, class: "btn btn-success"