.container 
    .row
        .col-md-10
            %h1 Markalar
        .col-md-2 
            -if user_signed_in?
                = link_to "Marka Ekle", new_trademark_path, class:"btn btn-outline-primary btn-lg"
        %hr/
        %br/
        .div.d-flex.col-12
            - @trademarks.each do |t|
                .ana_div.col-2
                    .align-self-center
                        =image_tag(t.image, class: "image")
                    %h2=link_to t.name, t
                    %h6=link_to "Website", t.web
