.container 
    .row
        .col-md-10
            %h1 Marka Bilgileri
        .col-md-2 
            .links-btn-group
                %table
                    %tr 
                        -if user_signed_in?
                            %td=link_to "Düzenle", edit_trademark_path, class: "btn btn-primary btn-lg"
                            %td=link_to "Sil", trademark_path(@trademark), method: :delete, data: { confirm: "Marka ve markaya ait ürünler silinecektir! İşlemi onaylıyor musunuz?" }, class: "btn btn-danger btn-lg" 
        %hr/
        .col-md-2 
            %h2 Logo :
            = image_tag(@trademark.image, style: ' height:auto; width:200px; border: 2px dashed #000;')
        .col-md-10
            %h2 Ad :
            = @trademark.name
            %h4 Açıklama :
            = @trademark.description 
            %h5 Menşei :
            = @trademark.origin
            %h6 Web Site :
            = "#{link_to @trademark.web, @trademark.web}".html_safe
            %br/
            %br/
        %hr/
        .col-md-12
            %br/
            .container
                .row                   
                    .col-md-10
                        %h1 Markanın ürünleri
                    .col-md-2
                        -if user_signed_in?
                            =link_to "Ürün Ekle", new_product_path, class:"btn btn-outline-success btn-lg"
                    .col-md-12
                    %hr/
                    %table
                        %tbody
                            %tr
                                %td
                                    %h5 İsim
                                %td 
                                    %h5 Sektör
                                %td 
                                    %h5 Ücret
                                %td 
                                    %h5 Üretim Yılı
                                %td{:colspan => 2 }
                                    %h5 İşlemler
                            - @products.each do |pro|
                                %tr
                                    %td=pro.name
                                    %td=pro.sector
                                    %td=pro.price
                                    %td=pro.y_o_production
                                    -if user_signed_in?
                                        %td
                                            = link_to "Düzenle", edit_product_path(pro.id), class: "btn btn-primary"
                                            = link_to "Sil", product_path(pro.id), method: :delete, data: { confirm: "Silme işlemini onaylıyor musunuz?" }, class: "btn btn-danger"

