<div class="container">
  <div class="row">
    <h2>Kayıt ol</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: "E-posta",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    label: "Parola",
                    required: true,
                    hint: ("En az #{@minimum_password_length} karakter" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Parola(Tekrar)",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <br/>
      <div class="form-actions">
        <%= f.button :submit, "Kayıt" , class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
