/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
 @import "bootstrap";

 body {
	background: -webkit-linear-gradient(40deg, #383e3f 10%, #a0a0a0 100%);
	background:    -moz-linear-gradient(40deg, #d1edf0 10%, #a0a0a0 100%);
	background:     -ms-linear-gradient(40deg, #d1edf0 10%, #a0a0a0 100%);
	background:      -o-linear-gradient(40deg, #d1edf0 10%, #a0a0a0 100%);
	background:         linear-gradient(40deg, #d1edf0 10%, #a0a0a0 100%);
	font-family: 'Roboto', sans-serif;
}

@mixin background-tile {
	box-sizing: border-box;
	border-radius: 5px;
	padding: 0.6em 0.6em;
	height: 100px;
	width: 100px;
	text-align: center;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 120;
	color:dodgerblue;
}
p.alert, p.notice {
	margin: 0;
}
.btn-custom {
	color: darken(#bdbdbd, 5%);
	background-color: #fff;
	border: 1px #000000;
	padding: 8px 20px;
	border-radius: 0px;
	font-family: 'Roboto', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#bdbdbd, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 0px;
	font-family: 'Roboto', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}	
}
.links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}

}

.product-links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;	
	}

}

.image {
	@include background-tile;
}

.links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}

}

.product-links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;	
	}

}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #000;
}

.ana_div { 
    height: 300px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.div {
    display: inline-block;
    height: auto;
    width: 150px;
    margin: 10px;
    color: #FFF;
}