.container 
    .row
        .form-inputs
            =simple_form_for @product do |f|
                %p 
                //=select_tag(:trademark_id, options_for_select(@trademarks), :prompt => "Marka Seçiniz..", class: "form-select", label: "Marka")
                =f.input :trademark_id, collection: @trademarks, label: "Marka"
                %p 
                =f.input :name, label: "Ad", required: true
                %p 
                =f.input :sector, collection: [ "Bilişim Teknolojileri", "Elektrik ve Elektronik", "Gıda", "Otomotiv", "Finans"], :prompt => "Sektör Seçiniz..", label: "Sektör", required: true
                %p 
                =f.input :price, label: "Ücret", required: true
                %p 
                =f.input :y_o_production, collection: 1950..2021, label: "Üretim Yılı", required: true

                %p 
                =f.button :submit, class:"btn btn-success" 