.container 
    .row
        %h2 Ürün Düzenleme
        .form-inputs
            = simple_form_for @product do |f|
                =f.label :Marka 
                %p
                    =f.select :trademark_id, @trademarks, label: "Marka", class: "form-select-lg"
                %p 
                =f.input :name, label: "Ad"
                %p 
                =f.input :sector, collection: [ "Bilişim Teknolojileri", "Elektrik ve Elektronik", "Gıda", "Otomotiv", "Finans"], :prompt => "Sektör Seçiniz", label: "Sektör"
                %p 
                =f.input :price, label: "Ücret"
                %p 
                =f.input :y_o_production, collection: 1950..2021, label: "Üretim Yılı"

                %p 
                =f.button :submit, class: "btn btn-success"