.container
    .row
        .col-md-10
            %h1 Ürünler
        .col-md-2
            -if user_signed_in?
                =link_to "Ürün Ekle", new_product_path, class:"btn btn-outline-success btn-lg"
        .col-md-12
        %hr/
        %table
            %tbody
                %tr
                    %td
                        %h5 İsim
                    %td 
                        %h5 Sektör
                    %td 
                        %h5 Ücret
                    %td 
                        %h5 Üretim Yılı
                    %td 
                        %h5 Marka Adı
                    %td{:colspan => 2 }
                        %h5 İşlemler
                - @products.each do |pro|
                    %tr
                        %td=pro.name
                        %td=pro.sector
                        %td=pro.price
                        %td=pro.y_o_production
                        - @trademarks.each do |t|
                            -if t[1] == pro.trademark_id
                                %td= t[0] 
                        -if user_signed_in?
                            %td
                                = link_to "Düzenle", edit_product_path(pro.id), class: "btn btn-primary"
                                = link_to "Sil", product_path(pro.id), method: :delete, data: { confirm: "Silme işlemini onaylıyor musunuz?" }, class: "btn btn-danger"

