<!DOCTYPE html>
<html>
  <head>
    <title>Proje</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </head>
  

  <body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<div class="container">
			<div class="navbar-header col-md-1">
				<%= link_to "Proje", root_path, class: "navbar-brand"  %>
			</div>
      <ul class="nav navbar-nav col-md-10">
        <li><%= link_to "Marka", trademarks_path, class: "nav-link" %></li>
        <li><%= link_to "Ürün", products_path, class: "nav-link" %></li>
      </ul>
			<ul class="nav navbar-nav col-md-2">
				<% if user_signed_in? %>
					<li><%= link_to "Çıkış", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary"%></li>
				<% else %>
					<li><%= link_to "Kayıt Ol", new_user_registration_path, class: "btn btn-outline-info" %></li>
					<li><%= link_to "Giriş", new_user_session_path, class: "btn btn-outline-success" %></li>
				<% end %>
			</ul>
    </div>
  </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  <footer class="footer bg-dark">
    <div class="container">
      <div class="d-flex justify-content-center">
          <%= link_to "#{image_tag("gitlab.png", style: 'height:auto;width:100px;')}".html_safe, "https://gitlab.com/ceburakyilmaz/proje" %>
      <div>
    </div>
  </footer>
  </body>
</html>
